body {
  padding: 0;
    margin:0;
  font: 14px "微软雅黑","Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hidden{
    display: none;
}

.v-space{
    margin:10px 0;
}

.normal-list{

}
.enabled{
    color: #0FFD0F;
}
.page-header{
    margin: 15px 0 20px;
}
.page-header h1{
    font-size:20px;
}

.logo {
    display: inline-block;
    height: 100%;
    margin: 0 2px;
    text-align: center;
    padding: 0 10px;
    color: #fff;
}