<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="/public/js/jquery.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link rel='stylesheet' href='/public/stylesheets/style.css'/>
</head>
<body>
<div class="page-header" onclick="window.location.reload()">
    <h1><%= title %>
        <small><%= subtitle %></small>
    </h1>
</div>

<div class="page-wraper" style="margin: 10px">
    <div class="panel panel-default">
        <div class="panel-heading">
            添加一个新任务
        </div>
        <div class="panel-body">
            <form id="task_add_form" class="form-inline" action="/api/task/add" method="post" role="form">
                <div class="form-group">
                    <label for="name">Domain</label>
                    <input type="text" class="form-control" id="domain" name="domain" placeholder="请输入域名">
                    <label for="name">URL</label>
                    <input type="url" class="form-control" id="url" name="url" placeholder="请输入网址">
                    <label for="name">定时执行</label>
                    <input type="number" class="form-control" id="interval" name="interval" placeholder="毫秒">
                    <label for="name">文件前缀</label>
                    <input type="text" class="form-control" id="image_prefix"  name="image_prefix" placeholder="存储在磁盘上的图片前缀">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="enabled"> 添加后是否立即激活
                        </label>
                    </div>
                </div>

                <button type="submit" id="new_task" class="btn btn-default">提交</button>
            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            已添加任务
        </div>
        <table id="list" class="table">
            <thead>
            <tr>
                <th>所属域名</th>
                <th>URL</th>
                <th>定时执行(ms)</th>
                <th>是否激活</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

</div>

<!-- modal dialog for add. -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    任务设置
                </h4>
            </div>
            <div class="modal-body">
                <form id="task_update_form" class="form" action="/api/task/update" method="post" role="form">
                    <div class="form-group">
                        <input type="hidden" id="_id" name="_id" value=""/>
                        <label for="name">Domain</label>
                        <input type="text" class="form-control" id="domain" name="domain" placeholder="请输入域名">
                        <label for="name">URL</label>
                        <input type="url" class="form-control" id="url" name="url" placeholder="请输入网址">
                        <label for="name">定时执行</label>
                        <input type="number" class="form-control" id="interval" name="interval" placeholder="毫秒">
                        <label for="name">文件前缀</label>
                        <input type="text" class="form-control" id="image_prefix"  name="image_prefix" placeholder="存储在磁盘上的图片前缀">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="enabled"> 添加后是否立即激活
                            </label>
                        </div>
                    </div>

                    <button type="submit" id="new_task" class="btn btn-default">提交</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary">
                    提交更改
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>

</body>

<script>
    function renderList(arr) {
        var list = $("#list");
        arr.forEach(function (item) {
            var line = $("<tr>");
            var html = `
                            <td>${item.domain}</td>
                            <td>${item.url}</td>
                            <td>${item.interval}</td>
                            <td>${item.enabled}</td>
                            <td>
                                <button class="task_setting"  value="${item._id}">任务设置</button>
                                <button class="view_capture_list" value="${item._id}">查看监控结果</button>
                                <button class="run_task" value="${item._id}">立即执行一次</button>
                                <button class="swtich_enable" value="${item._id}" data-enabled=${item.enabled}>切换激活状态</button>
                             </td>
                       `;
            line.html(html);
            line.data = item;
            list.append(line);
        })
    }

    $(function () {
        var data = <%- JSON.stringify(data) %>;
        renderList(data);

        $("#list .task_setting").click(function(e){
            $("#task_update_form")[0].reset();
            var data = $(e.target).closest("tr").data;
            if(!data){
                alert("No data got");
                return;
            }

            $("#myModal").modal();
        });
        $("#list .view_capture_list").click(function(e){
            alert("view_capture_list");
        });

        $("#new_task").click(function(e){
            var api = "/api/task/add";
            $.post(api,$("#task_add_form").serialize(),function(e){
                if(e&& e.ok){
                    alert("添加成功,"+ JSON.stringify(e));
                    window.location.reload();
                } else{
                    alert("添加失败,"+ JSON.stringify(e));
                }
            });
            e.preventDefault();
            return false;
        })

        $("#list .run_task").click(function(e){
            var api = "/api/task/"+ e.target.value +"/run";
            $.post(api,{},function(json){
               alert("Post请求返回了:"+JSON.stringify(json)) ;
            });
        });
        $("#list .swtich_enable").click(function(e){
            var api = "/api/task/"+ e.target.value +"/update";
            var enabled = e.target.dataset["enabled"];
            enabled = enabled=="true"||enabled=="true";
            $.post(api,{enabled: !enabled},function(json){
                alert("Post请求返回了:" + JSON.stringify(json));
            });
        });
    })

</script>

</html>
