<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link rel='stylesheet' href='/public/stylesheets/style.css'/>
</head>
<body>
<div class="page-header">
    <h1><%= title %>
        <small>任务管理</small>
    </h1>
</div>

<div class="page-wraper" style="margin: 10px">
    <div class="panel panel-default">
        <div class="panel-heading">
            添加一个新任务
        </div>
        <div class="panel-body">
            <form id="task_add_form" class="form-inline" action="#" method="get" role="form">
                <div class="form-group">
                    <label for="name">Domain</label>
                    <input type="text" class="form-control" id="domain" placeholder="请输入域名">
                    <label for="name">URL</label>
                    <input type="text" class="form-control" id="url" placeholder="请输入网址">
                    <label for="name">定时执行</label>
                    <input type="text" class="form-control" id="interval" placeholder="毫秒">
                    <label for="name">文件前缀</label>
                    <input type="text" class="form-control" id="url" placeholder="存储在磁盘上的图片前缀">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> 添加后是否立即激活
                        </label>
                    </div>

                </div>

                <button type="submit" class="btn btn-default">提交</button>
            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            已添加任务
        </div>
        <table id="list" class="table">
            <thead>
            <tr>
                <th>所属域名</th>
                <th>URL</th>
                <th>定时执行(ms)</th>
                <th>是否激活</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

</div>

<!-- modal dialog for add. -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    模态框（Modal）标题
                </h4>
            </div>
            <div class="modal-body">
                在这里添加一些文本
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary">
                    提交更改
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>

</body>

<script>
    function renderList(arr) {
        var list = $("#list");
        arr.forEach(function (item) {
            var html = `<tr>
                            <td>${item.domain}</td>
                            <td>${item.url}</td>
                            <td>${item.interval}</td>
                            <td>${item.enabled}</td>
                            <td>
                                <button class="task_setting"  value="${item._id}">任务设置</button>
                                <button class="view_capture_list" value="${item._id}">查看监控结果</button>
                                <button class="run_task" value="${item._id}">立即执行一次</button>
                             </td>
                        </tr>`
            list.append(html);
        })
    }

    $(function () {
        var data = <%- JSON.stringify(data) %>;
        renderList(data);

        $("#list .task_setting").click(function(e){
            $("#myModal").modal();
            alert("task_setting");
        });
        $("#list .view_capture_list").click(function(e){
            alert("view_capture_list");
        });

        $("#list .run_task").click(function(e){
            var api = "/api/task/"+ e.target.value +"/run";
            $.post(api,{},function(json){
               alert("返回:"+json) ;
            });
        });

    })

</script>

</html>
