<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/public/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/public/bootstrap/bootstrap-theme.min.css">
    <link rel='stylesheet' href='/public/stylesheets/style.css'/>
    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/vue.js"></script>
    <script src="/public/bootstrap/bootstrap.min.js"></script>
</head>
<body>
<div class="page-header" onclick="window.location.reload()">
    <h1><%= title %>
        <small><%= subtitle %></small>
    </h1>
</div>

<div class="page-wraper" style="margin: 10px">
    <div class="btn-group v-space">
        <button type="button" class="btn btn-default" id="btn_add_new_task" accesskey="c">添加一个任务( Alt+C)</button>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            所有任务
        </div>
        <table id="list" class="table">
            <thead>
            <tr>
                <th>所属域名</th>
                <th>URL</th>
                <th>定时执行(ms)</th>
                <th>是否激活</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

</div>

<!-- start: modal dialog for add/update. -->
<div class="modal fade" id="updateTaskModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    任务设置
                </h4>
            </div>
            <div class="modal-body">
                <form id="task_update_form" class="form" action="/api/task/update" method="post" role="form">
                    <div class="form-group ">
                        <label for="name">任务ID</label>
                        <input type="text" class="form-control" id="update_id" name="_id" v-model="id" readonly/>

                        <label for="name">URL</label>
                        <input type="url" class="form-control" id="update_url" name="url" placeholder="请输入网址(http[s]://...)" v-model="url">
                        <label for="name">Domain</label>
                        <input type="text" class="form-control" id="update_domain" name="domain" placeholder="请输入域名"  v-model="domain">
                        <label for="name">定时执行</label>
                        <input type="number" class="form-control" id="update_interval" name="interval" placeholder="毫秒(0或者为空表示不定期执行)" v-model="interval">
                        <label for="name">文件前缀</label>
                        <input type="text" class="form-control" id="update_name_prefix"  name="name_prefix" placeholder="存储在磁盘上的图片前缀" v-model="name_prefix">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="update_enabled" name="enabled" checked="false" v-model="enabled" value="true"> 任务是否激活(未激活的任务不会在后台执行)
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btn_delete_task"
                        data-dismiss="modal">删除任务
                </button>
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" id="btn_update_task">
                    提交更改
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newTaskModel" tabindex="-1" role="dialog"
     aria-labelledby="newTaskModel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    添加一个任务
                </h4>
            </div>
            <div class="modal-body">
                <form id="task_add_form" class="form-inline1" action="/api/task/add" method="post" role="form">
                    <div class="form-group">
                        <label for="name">URL</label>
                        <input type="url" class="form-control" id="url" name="url" required pattern="https?://.+" placeholder="请输入网址(http[s]://...)" v-model="url">
                    </div>
                    <div class="form-group ">
                        <label for="name">Domain</label>
                        <input type="text" class="form-control" id="domain" name="domain" placeholder="请输入域名" v-model="domain">
                        <!--<label for="name">定时执行</label>-->
                        <!--<input type="number" class="form-control" id="interval" name="interval" placeholder="毫秒(0或者为空表示不定期执行)">-->
                        <label for="name">文件前缀</label>
                        <input type="text" class="form-control" id="name_prefix"  name="name_prefix" placeholder="存储在磁盘上的图片前缀"  v-model="name_prefix">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="enabled" value="true"> 任务是否激活(未激活的任务不会在后台执行)
                            </label>
                        </div>
                        <label for="name">开始时间</label>
                        <div>
                            <input type="date" class="form-control" id="startdate" name="startdate" placeholder="开始日期">
                            <input type="time" class="form-control" id="starttime" name="starttime" placeholder="开始时间">
                        </div>

                        <label >定时执行</label>
                        <div>
                            <label class="checkbox-inline">
                                <input type="radio"  id="scheduled" name="scheduled" placeholder="一次性" value="onetime" checked>一次性
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" id="scheduled" name="scheduled" placeholder="每小时" value="perhour">每小时
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" id="scheduled" name="scheduled" placeholder="每天" value="perday">每天
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    关闭
                </button>
                <button type="submit" id="new_task" class="btn btn-primary">提交</button>
            </div>
        </div>
    </div>
</div>

<!-- end:  model for add and update-->

</body>

<script>
    function renderList(arr) {
        var list = $("#list");
        arr.forEach(function (item) {
            var line = $("<tr>");
            var html = `
                            <td>${item.domain}</td>
                            <td>${item.url}</td>
                            <td>${item.interval}</td>
                            <td>${item.enabled}</td>
                            <td>
                                <button class="task_setting"  value="${item._id}">编辑</button>
                                <button class="view_capture_list" value="${item._id}">查看监控结果</button>
                                <button class="run_task" value="${item._id}">立即执行一次</button>
                             </td>
                       `;
            line.html(html);
            line.data("origindata", item);
            list.append(line);
        })
    }
    //表单数据绑定
    !function (){
        new Vue({
            el: '#task_add_form',
            data: {
                url:"",
                interval:0,
                name_prefix:"",
                enabled:true
            },
            computed:{
                domain:function(){
                    var host = "";
                    try{
                        host = new URL(/^https?:/.test(this.url)?this.url:"http://"+this.url).host;
                    }catch(e){
                        console.log(e)
                    }
                    return host;
                },
                name_prefix:function(){
                    var str = "";
                    try{
                        str = new URL(/^http[s]*:/.test(this.url)?this.url:"http://"+this.url).host;
                    }catch(e){
                        str = this.url;
                    }
                    return str;
                }
            }
        });

        var myModel = window.task_update_form_model = {
            id:"11",
            domain:"",
            url:"",
            interval:0,
            name_prefix:"",
            enabled:true
        };

        new Vue({
            el: '#task_update_form',
            data: myModel
        });
    }();

    //事件绑定
    function bindEvent(){
        $("#list .task_setting").click(function(e){
            var data = $(e.target).closest("tr").data("origindata");
            for(var i in data){
                task_update_form_model[i] = data[i];
            }
            task_update_form_model.id = data._id; //VueJS的_id会出错.

            $("#updateTaskModal").modal();
        });
        $("#list .view_capture_list").click(function(e){
            var url = "/diff/list/#taskid="+ e.target.value;
            window.open(url);
        });

        $("#btn_delete_task").click(function(){
            var api = "/api/task/"+$("#update_id").val();
            $.ajax({
                type:"DELETE",
                url:api,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success:function(e){
                    alert("删除成功,"+e);
                    window.location.reload();
                },error:function(e){
                    alert("删除失败,刷新再试."+ e);
                }
            });
        });


        $("#newTaskModel").on("shown.bs.modal",function(e){
            var d = new Date();
            document.getElementById("startdate").valueAsDate=d;
            document.getElementById("starttime").defaultValue= d.toString().match(/\d\d:\d\d/);
        });

       $("#btn_add_new_task").click(function(e){
           $("#newTaskModel").modal();
       });

        $("#new_task").click(function(e){
            var api = "/api/task/add";
            $.post(api,$("#task_add_form").serialize(),function(e){
                if(e&& e.ok){
                    alert("添加成功,"+ JSON.stringify(e));
                    window.location.reload();
                } else{
                    alert("添加失败,"+ JSON.stringify(e));
                }
            });
            e.preventDefault();
            return false;
        })

        $("#list .run_task").click(function(e){
            var api = "/api/task/"+ e.target.value +"/run";
            $.post(api,{},function(json){
                alert("Post请求返回了:"+JSON.stringify(json)) ;
            });
        });
        $("#btn_update_task").click(function(e){
            var api = "/api/task/"+ $("#update_id").val();

            $.ajax({
                type:"PUT",
                url:api,
                data: $("#task_update_form").serialize(),
                //contentType: "application/json; charset=utf-8",
                dataType: "json",
                success:function(e){
                    alert("请求成功.,"+ JSON.stringify(e));
                    window.location.reload();
                },error:function(e){
                    alert("请求失败,刷新再试."+ JSON.stringify(e));
                }
            })



        });
    };

    //开始
    $(function () {
        var data = <%- JSON.stringify(data) %>;
        renderList(data);
        bindEvent();
    })

</script>

</html>
