body {
  padding: 0;
    margin:0;
  font: 14px "微软雅黑","Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hidden{
    display: none;
}

.v-space{
    margin:10px 0;
}

.normal-list{

}