.partition{
    position: relative;
    border: 1px solid red;
    cursor:pointer;
    -webkit-user-select: none;
}

.partition .part{
    position:absolute;
    background:rgba(0,0,0,0.2);
    font-size: 8px;
    color:#0ff00f;
}

/**
 * dragging
 */

.partition.dragging .part{
    pointer-events:none;
}