<style>
    .nav {
        height: 30px;
        background: #eee;
        font-size: 20px;
        line-height: 30px;
    }
    .nav a {
        display: inline-block;
        height: 100%;
        margin: 0 2px;
        /*background: #000;*/
        text-align: center;
        padding: 0 10px;
    }
</style>
<div class="nav">
    <a href="/">首页</a>
    <a href="/task/list">任务管理</a>
    <a href="/diff/list">采集列表</a>
    <a href="/api/task/queue">查看后台任务</a>
</div>