<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/public/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/public/bootstrap/bootstrap-theme.min.css">
    <script src="/public/jquery/jquery.js"></script>
    <script src="/public/vue/vue.js"></script>
    <script src="/public/bootstrap/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/public/stylesheets/style.css'/>
</head>
<body>
<div class="page-header "  onclick="window.location.reload()">
    <h1><%= title %></h1>
</div>
<div class="page-wraper">
    <div class="panel panel-default">
        <div class="panel-heading">
            筛选条件
        </div>

        <form id="list_query" class="form-inline" action="#" method="get">
            <div class="form-group">
                <label for="name">网站URL大概是：</label>
                <input placeholder="模糊网址" type="search"  class="form-control" name="hazyurl" id="hazyurl" value=""/>
                <label for="name">变化率大于等于：</label>
                <input placeholder="变化率介于0~100"   class="form-control" name="mismatch" id="mismatch" value=""/>
                <label for="name">所属任务</label>
                <input placeholder="所属任务的ID"   class="form-control" name="taskid" id="taskid" value=""/>

                <!--<label for="name" >时间范围</label>-->
                <!--<select class="form-control">-->
                    <!--<option value="1">-->
                        <!--今天-->
                    <!--</option>-->
                    <!--<option value="1">-->
                        <!--前两天-->
                    <!--</option>-->
                    <!--<option value="1">-->
                        <!--前一周-->
                    <!--</option>-->
                    <!--<option value="1">-->
                        <!--自定义-->
                    <!--</option>-->
                <!--</select>-->
            </div>
        </form>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            列表页面
        </div>

        <table id="capture_table" class="table table-striped">
            <thead>
                <tr>
                    <th>URL</th>
                    <th>执行时间(当前排序-倒序)</th>
                    <th>捕获完成时间</th>
                    <th>所属任务</th>
                    <th>变化率</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="capture_list">

            </tbody>
            <tfoot>

            </tfoot>
        </table>
        <!--todo-->
        <ul class="pagination" id="pagination" >
            <li  v-bind:class="{'disabled': currentPageIndex==0}" v-on:click="pre">
                <a href="#">&laquo;</a>
            </li>
            <li v-bind:class="{'active': currentPageIndex==n}" v-for="n in pageCount" v-on:click="click" value="{{n}}"><a href="#" >{{n+1}}</a></li>
            <!--<li>-->
                <!--<a href="#" aria-label="Next">-->
                    <!--<span aria-hidden="true">&raquo;</span>-->
                <!--</a>-->
            <!--</li>-->
        </ul>
    </div>
</div>

</body>

<script>
    'use strict';
    var detail_url = "/diff/detail",
        capture_list_url = "/api/capture/list",
            defaultStartIndex = 0,
            defaultlimit = 5,
            pageInfo = {
                totolCount:0,
                currentStartIndex:0,
                limit:15
            };

    function bindPagination(){
        new Vue({
            el:"#pagination",
            data:pageInfo,
            computed:{
                pageCount:function(){ //有多少页
                    return Math.ceil(this.totolCount/this.limit);
                },
                currentPageIndex:function(){ //当前是第几页
                    return Math.ceil((this.currentStartIndex)/this.limit);
                }
            },
            methods:{
                click:function(e){
                    var value = e.currentTarget.getAttribute("value");
                    //alert(e);
                    loadCaptureListData({
                        hazy: $("#hazyurl").val(),
                        begin: pageInfo.limit * value,
                        limit: pageInfo.limit
                    });
                },
                pre:function(){
                    var willStartIndex = pageInfo.currentStartIndex - pageInfo.limit;
                    willStartIndex = willStartIndex<0?0:willStartIndex;
                    loadCaptureListData({
                        hazy: $("#hazyurl").val(),
                        begin: willStartIndex,
                        limit: pageInfo.limit
                    });
                }
            }
        })
    }

    //日期转换为本地时间字符串
    function date2str(date){ //date object , or date string.
        var str = "";
        if(date){
            var d = new Date(date);
            str = (new Date(date)).toLocaleString();
            if(d.toDateString() == ((new Date).toDateString())){
                str += " (今天)";
            }
        }
        return str;
    }

    function renderList(arr) {
        var list = $("#capture_list");
        list.html("");
        arr.forEach(function (item) {
            var timestamp_start_capture = date2str(item.timestamp_start_capture),
                    timestamp_capture_complete = date2str(item.timestamp_capture_complete),
                    ratio = item.diffinfo?item.diffinfo.misMatchPercentage:0;
            let html = `<tr>
                            <td>${item.url}</td>
                            <td>${timestamp_start_capture}</td>
                            <td>${timestamp_capture_complete}</td>
                            <td>${item.taskid}</td>
                            <td>${ratio}</td>
                            <td><a href="${detail_url}?_id=${item._id}" target="_blank">查看详情</a></td>
                        </tr>`
            list.append(html);
        })
    }

    function loadCaptureListData(condition){
        $.post(capture_list_url, condition, function(result){
            console.log(result);
            if(result.err){
                alert("something error. look console.");
            }else{
                renderList(result.data);
                pageInfo.currentStartIndex = result.begin;
                pageInfo.totolCount = result.totalCount;
            }
        });
    }

    function bindEvent(){
        var keyUpListener = function(e){
            var condition = {
                hazy: $("#hazyurl").val(),
                mismatch: $("#mismatch").val(),
                taskid: $("#taskid").val(),
                begin: 0, // 检索时，就从第一个开始
                limit: pageInfo.limit
            };
            loadCaptureListData(condition);
        }

        var searchTimer = null;
        $("#list_query").find("input").keyup(function(e){
            clearTimeout(searchTimer);
            searchTimer = setTimeout(function(){
                keyUpListener(e);
            },500);
        })
    }

    function dataInit(){
        var hash = document.location.hash;
        var condition = {
            begin: pageInfo.currentStartIndex,
            limit: pageInfo.limit
        };
        if(hash){
            var arr = hash.substr(1).split("&");
            arr.forEach(function(item) {
                var t = item.split("=");
                if(t.length == 2){
                    condition[t[0]] = t[1];
                    var relateDom =$("#"+t[0]);
                    if(relateDom[0]){
                        relateDom.val(t[1])
                    }
                }
            })
        }
        loadCaptureListData(condition);
    }

    $(function () {
        dataInit();
        bindEvent();
        bindPagination();
    });

</script>

</html>
