<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>网页哪些的区域不用比较？</title>
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap-theme.min.css">
    <link rel='stylesheet' href='/public/stylesheets/style.css'/>
    <script src="/public/jquery/jquery.js"></script>
    <script src="/public/vue/vue.js"></script>
    <script src="/public/bootstrap/js/bootstrap.min.js"></script>

    <link rel='stylesheet' href='/public/partition/partition.css'/>
    <script src="/public/partition/partition.js"></script>
</head>
<body>

<div class="well well-lg" style="position:fixed;z-index: 2;top:0;left:0;width:100%;vertical-align: top">
    <p>1. 请在下面图片预览区域，使用鼠标左键拖选。可多选。</p>
    <p>2. 目前存在的问题：有的页面是不能被iFrame的，可以考虑预览的方式来优化。</p>
    <form action="#" class="form-inline">
        <!--<p class="form-group">-->
            <!--<label>窗口大小: </label>-->
            <!--<input type="text" class="form-control" v-model="agent_width">*<input type="text" class="form-control" v-model="agent_height">-->
            <!--<span>（后台截屏时将以这个大小截屏）</span>-->
        <!--</p>-->
        <p class="input-group">
            <label class="input-group-addon">当前选择的结果：</label>
            <textarea id="result" class="form-control" style="width:300px;height:60px;" v-model="ignore"></textarea>
        </p>
        <p class="form-group">
            <button id="btn_confirm" type="button" class="btn btn-primary">确定</button>
            <!--<button type="reset">重置</button>-->
            <button id="btn_cancel" type="button" class="btn ">取消</button>
        </p>
    </form>

</div>

<div id="wrap" style="position:relative;width:200px;height: 200px;margin:200px auto;text-align:center;" >
    <span id="tip">正在生成网站预览，请稍后...</span>
    <img id="previewArea" src='/public/images/clock.svg' />
    <div id="selectLayer" style="position:absolute;left:0;top:0;width:100%;height:100%;"></div>
</div>
</body>

<script>
    // 备用
    function copy(src,dest){
        for(var key in src){
            dest[key]=src[key];
        }
    }

    function previewURL(url){
        var previewArea= $('#previewArea');
        //获取网站截图
        $.post('/api/capture/preview',{
            url: url
        },function(data){
            if(data && data.renderResult){
                previewArea.on('load', function(){
                    $('#wrap').css({
                        width: previewArea.width(),
                        height: previewArea.height()
                    });
                    $('#tip').hide();

                    $('#selectLayer').partition({
                        pos: pdata.ignore,
                        selectChanged: function(data){
                            config.ignore = JSON.stringify(data);
                        }
                    }).css({
                        background: 'rgba(0,0,0,0.3)',
                        border:'1px solid #f0c674'
                    })
                });
                var imgsrc = 'data:image/'+data.format+';base64,'+data.renderResult;
                previewArea.attr('src', imgsrc);
            }else{
                alert("该网站预览失败", data);
            }
        });
    }

    //处理数据绑定
    var pdata = window.opener.formdata;

    var config = {
        // agent_width:  pdata.agent_width,
        // agent_height:  pdata.agent_height,
        ignore: pdata.ignore
    };

    new Vue({
        el:document.body,
        data: config
    });

    if(pdata.url){
        var url = /^https?:/i.test(pdata.url) ? pdata.url : `http://${pdata.url}`;
        previewURL(url);
    }else{
        alert("你还没有输入要截取的网站URL呢！");
        window.close();
    }

    $('#btn_confirm').click(function(e){
        if(pdata){
            pdata.ignore = config.ignore;
            // pdata.agent_width = config.agent_width;
            // pdata.agent_height= config.agent_height;
        }else{
            alert('父窗口不存在');
        }
        window.close();
        return false;
    });

    $("#btn_cancel").click(function(e){
        window.close();
        return false;
    });

</script>
</html>