<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>网页哪些的区域不用比较？</title>
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap-theme.min.css">
    <link rel='stylesheet' href='/public/stylesheets/style.css'/>
    <script src="/public/jquery/jquery.js"></script>
    <script src="/public/vue/vue.js"></script>
    <script src="/public/bootstrap/js/bootstrap.min.js"></script>

    <link rel='stylesheet' href='/public/partition/partition.css'/>
    <script src="/public/partition/partition.js"></script>
</head>
<body>

<div style="position:fixed;z-index: 2;top:0;left:0;width:100%;background:#f0c674;vertical-align: top">
    <form action="#">
        <p>
            <label>窗口大小: </label>
            <input type="text" v-model="agent_width">*<input type="text" v-model="agent_height">
            <span>（后台截屏时将以这个大小截屏）</span>
        </p>
        <p>
            <label>当前选择的结果：</label>
            <textarea id="result" style="width:300px;height:60px;" v-model="ignore"></textarea>
        </p>
        <p>
            <button id="btn_confirm" type="button">确定</button>
            <!--<button type="reset">重置</button>-->
            <button id="btn_cancel" type="button">取消</button>
        </p>
    </form>

</div>

<div id="wrap" style="position:relative;height: 4000px;margin:160px auto;border:1px solid red;" v-bind:style="{ width:winWidth+'px' }">
    <iframe id="contentFrame" src="http://www.uc123.com" style="width:100%;height:100%"></iframe>
    <div id="selectLayer" style="position:absolute;left:0;top:0;width:100%;height:100%;background: rgba(0,0,0,0.3);"></div>
</div>
</body>

<script>
    //备用
    function copy(src,dest){
        for(var key in src){
            dest[key]=src[key];
        }
    }

    var pdata = window.opener.data;

    var config = {
        agent_width:  pdata.agent_width,
        agent_height:  pdata.agent_height,
        ignore: pdata.ignore,
    };

    new Vue({
        el:document.body,
        data: config
    });

    $('#selectLayer').partition({
        pos: pdata.ignore,
        selectChanged: function(data){
            config.ignore = JSON.stringify(data);
        }
    })

    $('#btn_confirm').click(function(e){
        if(pdata){
            pdata.ignore = config.ignore;
            pdata.agent_width = config.agent_width;
            pdata.agent_height= config.agent_height;
        }else{
            alert('父窗口不存在');
        }
        window.close();
        return false;
    });

    $("#btn_cancel").click(function(e){
        window.close();
        return false;
    })
</script>
</html>