<form id="task_update_form" class="form" action="/api/task/update" method="post" role="form">
    <div class="form-group ">
        <label for="_id">任务ID</label>
        <input type="text" class="form-control" id="update_id" name="_id" v-model="id" readonly title=""/>

        <label for="url">URL</label>
        <input type="url" class="form-control" id="update_url" name="url" placeholder="请输入网址(http[s]://...)" v-model="url">
        <label for="domain">Domain</label>
        <input type="text" class="form-control" id="update_domain" name="domain" placeholder="请输入域名"  v-model="domain">

        <label for="name_prefix">文件前缀</label>
        <input type="text" class="form-control" id="update_name_prefix"  name="name_prefix" placeholder="存储在磁盘上的图片前缀" v-model="name_prefix">

        <label for="name">开始时间</label>
        <div>
            <input type="date" class="form-control" id="update_startdate" name="startdate" placeholder="开始日期" v-model="startdate">
            <input type="time" class="form-control" id="update_starttime" name="starttime" placeholder="开始时间" v-model="starttime">
        </div>

        <label >定时执行</label>
        <div>
            <label class="checkbox-inline">
                <input type="radio"  id="update_scheduled_checkbox1" name="scheduled" placeholder="一次性" value="onetime" v-model="scheduled">一次性
            </label>
            <label class="checkbox-inline">
                <input type="radio" id="update_scheduled_checkbox2" name="scheduled" placeholder="每小时" value="perhour" v-model="scheduled">每小时
            </label>
            <label class="checkbox-inline">
                <input type="radio" id="update_scheduled_checkbox3" name="scheduled" placeholder="每天" value="perday" v-model="scheduled">每天
            </label>
        </div>
        <div  class="form-group" id="update-email-notify">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="email_notify_enabled" id="update_email_notify_enabled" v-model="email_notify_enabled">
                    <span>邮件订阅 ( 变化率超过特定值时会发送邮件 ) </span>
                </label>
            </div>
            <div class="form-group" v-bind:class="{hidden:!email_notify_enabled}" id="update-email-notify-detail" >
                <label>收件人列表</label>
                <input type="text" name="email_list"  class="form-control" placeholder="邮箱地址(多个邮箱请使用英文分号;隔开)"  v-model="email_list">
            </div>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="update_enabled" name="enabled" v-model="enabled"> 任务是否激活（未激活时，不会被系统执行）
            </label>
        </div>
    </div>
</form>